.icon-Focus {
  fill: var(--white);
}
.header-hero-background {
  height: 910px;
  background-image: url(../img/Graphic.png);
}
.header {
  background-image: url(../img/Graphic.png);
  padding-top: 20px;
  padding-bottom: 80px;
}

.nav {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.navv {
  padding: 0 100px;
}
.nav-wrapper {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  width: 982px;
  display: flex;
  padding-right: 50px;
  padding-left: 50px;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.nav-button {
  border-radius: 12px;
  padding: 16px 84px;
  width: 238px;
  background: var(--white);
}

.nav-list {
  display: flex;
  gap: 40px;
}
.nav-list-items {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--white);
}

.hero {
  border-radius: 30px;

  background: #1d1d1d;
}

.hero-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 64px;
  line-height: 106%;
  letter-spacing: -0.04em;
  color: var(--white);
  max-width: 523px;
  padding-bottom: 20px;
}

.hero-title > span {
  font-style: italic;
  font-weight: 400;
  color: var(--brown);
}

.hero-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: var(--white);
  width: 418px;
  padding-bottom: 136px;
}

.hero-wrapper {
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
}

.hero-image {
  width: 397px;
  height: 520px;
  background: url(../img/hero1.png);
}

.hero-review {
  width: 390px;
  height: 56px;

  display: flex;
  justify-content: space-around;
}

.hero-sol {
  padding-left: 50px;
  padding-top: 80px;
}
.hero-sag {
  padding-top: 80px;
  padding-right: 100px;
}

.hr-left {
  width: 231px;
  display: flex;
}
.hr-right {
  display: flex;
  gap: 12px;
}
.hr-images-wrapper {
  width: 100%;
}
.persons {
  height: 54px;

  position: absolute;
}
.person1 {
  width: 54px;
  height: 54px;
  background: url(../img/s1.png);
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.person2 {
  width: 54px;
  height: 54px;
  background: url(../img/s2.png);
  background-size: cover;
  position: absolute;
  top: 0;
  left: 35px;
  z-index: 1;
}
.person3 {
  width: 54px;
  height: 54px;
  background: url(../img/s3.png);
  background-size: cover;
  top: 0;
  position: absolute;
  left: 70px;
}
.hr-textt {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.04em;
  color: var(--white);
}
.hrr-wrapper {
}

.hrr1 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.04em;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 8px;
}

.hrr2 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.04em;
  color: var(--white);
}

.hr-star-wrapper {
  width: 50px;
  height: 50px;
  background: var(--brown);
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hr-star {
}

.hh-wrapper {
}
.nav-wrapperr {
}

.hero-tut {
  padding: 0 100px;
  background-size: cover;
  position: absolute;
  top: 1;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

@media (max-width: 1280px) {
  .header-hero-background {
    height: 1120px;
  }
  .hero {
  }
  .hero-wrapper {
    display: flex;
    flex-direction: column;
  }
  .hero-sag {
    display: flex;
    justify-content: center;
  }
}
