html{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: "DM Sans";
    color: var(--white);
}

  *,
  *::before,
  *::after {
    box-sizing: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
}

ul,
ol{
    margin: 0;
    padding: 0;
}

li{
    list-style-type: none;
}

button, a{
    cursor: pointer;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

address{
    font-style: normal;
    }

a{
    text-decoration: none;
    color: inherit;
    }
