.section-reviews-background {
  background-color: #121212;
}
.section-reviews-content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.section-reviews-content h3 {
  font-weight: 500;
  font-size: 48px;
  line-height: 112%;
  letter-spacing: -0.04em;
  transition: 0.33s;
}
.section-reviews-content h3:hover {
  color: #bea69e;
}
.section-reviews-content-one {
  display: flex;
  gap: 20px;
}
.section-reviews-cards {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  padding: 20px;
  gap: 20px;
}
.section-reviews-card {
  display: flex;
  justify-content: space-between;
}
.section-rev-student {
  display: flex;
  align-items: center;
  gap: 10px;
}
.section-rev-student img {
  transition: 0.33s;
}
/* .section-rev-student img:hover {
  transform: scale(1.2); */
}
.section-reviews-student-spec {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.section-reviews-student-spec h4 {
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  transition: 0.33s;
  display: flex;
    flex-direction: column;
    gap: 4px;
}
/* .section-reviews-student-spec h4:hover {
  color: #bea69e;
} */
.section-reviews-student-spec p {
  max-width: 570px;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.5);
  transition: 0.33s;
}
/* .section-reviews-student-spec p:hover {
  color: #bea69e; */
}
.section-student-stars ul {
  display: flex;
}
.section-student-stars ul li svg {
  fill: #bea69e;
  transition: 0.33s;
}
.section-student-stars ul li svg:hover {
  transform: scale(1.3);
}
.section-student-stars ul li .star-five {
  fill: #414141;
}
.section-student-stars-list {
  display: flex;
}
.reviews-text {
  font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 125%;
letter-spacing: -0.02em;
color: var(--white);
}

.reviews-student-name {
  font-family: var(--font-family);
font-weight: 500;
font-size: 20px;
line-height: 140%;
color: var(--white);
}

.reviews-studentt {
  font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 129%;
letter-spacing: -0.02em;
color: rgba(255, 255, 255, 0.5);
}