:root {
  --black: #121212;
  --white: #fff;
  --brown: #bea69e;
  --font-family: "DM Sans", sans-serif;
}
body {
  background: var(--black);
}
/* BU GENEL CONTAİNER, SAYFADAKİ ORTAYA HİZALI ALANLAR İÇİN BUNU KULLANMALISINIZ */
.container {
  max-width: 1440px;
  margin: 0 auto;
  background: var(--black);
}

@media (max-width: 1024px){
  .container{
    max-width: 768px;
  }
}

@media (max-width: 767px){
  .container{
    max-width: 335px;
  }
}

.section-pad{
  padding: 0 100px 150px;
}

@media (max-width: 1024px){
  .section-pad{
    padding: 0 32px;
  }
}

@media (max-width: 767px){
  .section-pad{
    padding: 0 20px;
  }
}

.background-black{
  background-color: var(--black);
}

.section-title{
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 48px;
  line-height: 112%;
  letter-spacing: -0.04em;
  color: var(--white);
}

.span-brown{
  color: var(--brown);
}